.replymsg-outer{
    background: white;
    width: 50%;
    position: absolute;
    bottom: 18%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.replymsg-inner{
    display: flex;
    width: 100%;
    background: #e3f1e640;
    border-radius: 8px;
    color: black;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-left: 5px solid green;
    /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
    margin-top: 5px;
  
}

